<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.commande.home.title">Commandes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande" [routerLink]="['/commande/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="btbApp.commande.home.createLabel">
            Create new Commande
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="commandes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="btbApp.commande.date">Date</span></th>
            <th><span jhiTranslate="btbApp.commande.prix">Prix</span></th>
            <th><span jhiTranslate="btbApp.commande.etat">Etat</span></th>
            <th><span jhiTranslate="btbApp.commande.offre">Offre</span></th>
            <th><span jhiTranslate="btbApp.commande.client">Client</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commande of commandes ;trackBy: trackId">
                <td><a [routerLink]="['/commande', commande.id, 'view' ]">{{commande.id}}</a></td>
                <td>{{commande.date | date:'mediumDate'}}</td>
                <td>{{commande.prix}}</td>
                <td jhiTranslate="{{'btbApp.EtatCommande.' + commande.etat}}">{{commande.etat}}</td>
                <td>
                    <div *ngIf="commande.offreId">
                        <a [routerLink]="['../offre', commande.offreId , 'view' ]" >{{commande.offreId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commande.clientId">
                        <a [routerLink]="['../client', commande.clientId , 'view' ]" >{{commande.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/commande', commande.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commande', commande.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commande/'+ commande.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
