<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="btbApp.commande.detail.title">Commande</span> {{commande.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.commande.date">Date</span></dt>
                <dd>
                    <span>{{commande.date}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.commande.prix">Prix</span></dt>
                <dd>
                    <span>{{commande.prix}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.commande.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{'btbApp.EtatCommande.' + commande.etat}}">{{commande.etat}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.commande.offre">Offre</span></dt>
                <dd>
                    <div *ngIf="commande.offreId">
                        <a [routerLink]="['/offre', commande.offreId, 'view']">{{commande.offreId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="btbApp.commande.client">Client</span></dt>
                <dd>
                    <div *ngIf="commande.clientId">
                        <a [routerLink]="['/client', commande.clientId, 'view']">{{commande.clientId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
