<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.producteur.home.title">Producteurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producteur" [routerLink]="['/producteur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="btbApp.producteur.home.createLabel">
            Create new Producteur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="producteurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="btbApp.producteur.email">Email</span></th>
            <th><span jhiTranslate="btbApp.producteur.photo">Photo</span></th>
            <th><span jhiTranslate="btbApp.producteur.nom">Nom</span></th>
            <th><span jhiTranslate="btbApp.producteur.prenom">Prenom</span></th>
            <th><span jhiTranslate="btbApp.producteur.password">Password</span></th>
            <th><span jhiTranslate="btbApp.producteur.description">Description</span></th>
            <th><span jhiTranslate="btbApp.producteur.commune">Commune</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producteur of producteurs ;trackBy: trackId">
                <td><a [routerLink]="['/producteur', producteur.id, 'view' ]">{{producteur.id}}</a></td>
                <td>{{producteur.email}}</td>
                <td>
                    <a *ngIf="producteur.photo" (click)="openFile(producteur.photoContentType, producteur.photo)">
                        <img [src]="'data:' + producteur.photoContentType + ';base64,' + producteur.photo" style="max-height: 30px;" alt="producteur image"/>
                    </a>
                    <span *ngIf="producteur.photo">{{producteur.photoContentType}}, {{byteSize(producteur.photo)}}</span>
                </td>
                <td>{{producteur.nom}}</td>
                <td>{{producteur.prenom}}</td>
                <td>{{producteur.password}}</td>
                <td>{{producteur.description}}</td>
                <td>
                    <span *ngFor="let commune of producteur.communes; let last = last">
                            <a class="form-control-static" [routerLink]="['../commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/producteur', producteur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producteur', producteur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'producteur/'+ producteur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
