<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.commune.home.title">Communes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commune" [routerLink]="['/commune/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="btbApp.commune.home.createLabel">
            Create new Commune
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="communes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="btbApp.commune.nom">Nom</span></th>
            <th><span jhiTranslate="btbApp.commune.codePostal">Code Postal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commune of communes ;trackBy: trackId">
                <td><a [routerLink]="['/commune', commune.id, 'view' ]">{{commune.id}}</a></td>
                <td>{{commune.nom}}</td>
                <td>{{commune.codePostal}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/commune', commune.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commune', commune.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commune/'+ commune.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
