<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commune">
            <h2><span jhiTranslate="btbApp.commune.detail.title">Commune</span> {{commune.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.commune.nom">Nom</span></dt>
                <dd>
                    <span>{{commune.nom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.commune.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{commune.codePostal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commune', commune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
