<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-offre-heading" jhiTranslate="btbApp.offre.home.createOrEditLabel">Create or edit a Offre</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offre.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="offre.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="offre.nom" required/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                        [(ngModel)]="offre.prix" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.prix?.dirty && editForm.controls.prix?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prix?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.prix?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.prix?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.taille" for="field_taille">Taille</label>
                    <input type="number" class="form-control" name="taille" id="field_taille"
                        [(ngModel)]="offre.taille" required/>
                    <div [hidden]="!(editForm.controls.taille?.dirty && editForm.controls.taille?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.taille?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.taille?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.frequence" for="field_frequence">Frequence</label>
                    <select class="form-control" name="frequence" [(ngModel)]="offre.frequence" id="field_frequence"  required>
                        <option value="PONCTUEL">{{'btbApp.Frequence.PONCTUEL' | translate}}</option>
                        <option value="QUOTIDIEN">{{'btbApp.Frequence.QUOTIDIEN' | translate}}</option>
                        <option value="HEBDOMADAIRE">{{'btbApp.Frequence.HEBDOMADAIRE' | translate}}</option>
                        <option value="MENSUEL">{{'btbApp.Frequence.MENSUEL' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.frequence?.dirty && editForm.controls.frequence?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.frequence?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="offre.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.stock" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                        [(ngModel)]="offre.stock" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.stock?.dirty && editForm.controls.stock?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.stock?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.stock?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.stock?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.dateLivraison" for="field_dateLivraison">Date Livraison</label>
                    <div class="input-group">
                        <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" ngbDatepicker  #dateLivraisonDp="ngbDatepicker" [(ngModel)]="offre.dateLivraison"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateLivraison?.dirty && editForm.controls.dateLivraison?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dateLivraison?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.datePublication" for="field_datePublication">Date Publication</label>
                    <div class="input-group">
                        <input id="field_datePublication" type="text" class="form-control" name="datePublication" ngbDatepicker  #datePublicationDp="ngbDatepicker" [(ngModel)]="offre.datePublication"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePublicationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datePublication?.dirty && editForm.controls.datePublication?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datePublication?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.bois" for="field_bois">Bois</label>
                    <select class="form-control" id="field_bois" name="bois" [(ngModel)]="offre.boisId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="boisOption.id" *ngFor="let boisOption of bois; trackBy: trackBoisById">{{boisOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="btbApp.offre.commune" for="field_commune">Commune</label>
                    <select class="form-control" id="field_commune" multiple name="commune" [(ngModel)]="offre.communes">
                        <option [ngValue]="getSelected(offre.communes, communeOption)" *ngFor="let communeOption of communes; trackBy: trackCommuneById">{{communeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.offre.producteur" for="field_producteur">Producteur</label>
                    <select class="form-control" id="field_producteur" name="producteur" [(ngModel)]="offre.producteurId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="producteurOption.id" *ngFor="let producteurOption of producteurs; trackBy: trackProducteurById">{{producteurOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
