<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.bois.home.title">Bois</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bois" [routerLink]="['/bois/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="btbApp.bois.home.createLabel">
            Create new Bois
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bois">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="btbApp.bois.essence">Essence</span></th>
            <th><span jhiTranslate="btbApp.bois.photo">Photo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bois of bois ;trackBy: trackId">
                <td><a [routerLink]="['/bois', bois.id, 'view' ]">{{bois.id}}</a></td>
                <td>{{bois.essence}}</td>
                <td>
                    <a *ngIf="bois.photo" (click)="openFile(bois.photoContentType, bois.photo)">
                        <img [src]="'data:' + bois.photoContentType + ';base64,' + bois.photo" style="max-height: 30px;" alt="bois image"/>
                    </a>
                    <span *ngIf="bois.photo">{{bois.photoContentType}}, {{byteSize(bois.photo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bois', bois.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bois', bois.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bois/'+ bois.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
