<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.client.home.title">Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="btbApp.client.home.createLabel">
            Create new Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="btbApp.client.email">Email</span></th>
            <th><span jhiTranslate="btbApp.client.photo">Photo</span></th>
            <th><span jhiTranslate="btbApp.client.nom">Nom</span></th>
            <th><span jhiTranslate="btbApp.client.prenom">Prenom</span></th>
            <th><span jhiTranslate="btbApp.client.password">Password</span></th>
            <th><span jhiTranslate="btbApp.client.commune">Commune</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients ;trackBy: trackId">
                <td><a [routerLink]="['/client', client.id, 'view' ]">{{client.id}}</a></td>
                <td>{{client.email}}</td>
                <td>
                    <a *ngIf="client.photo" (click)="openFile(client.photoContentType, client.photo)">
                        <img [src]="'data:' + client.photoContentType + ';base64,' + client.photo" style="max-height: 30px;" alt="client image"/>
                    </a>
                    <span *ngIf="client.photo">{{client.photoContentType}}, {{byteSize(client.photo)}}</span>
                </td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.password}}</td>
                <td>
                    <span *ngFor="let commune of client.communes; let last = last">
                            <a class="form-control-static" [routerLink]="['../commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/client', client.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/client', client.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
