<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="btbApp.client.detail.title">Client</span> {{client.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.client.email">Email</span></dt>
                <dd>
                    <span>{{client.email}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.client.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="client.photo">
                        <a (click)="openFile(client.photoContentType, client.photo)">
                            <img [src]="'data:' + client.photoContentType + ';base64,' + client.photo" style="max-width: 100%;" alt="client image"/>
                        </a>
                        {{client.photoContentType}}, {{byteSize(client.photo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="btbApp.client.nom">Nom</span></dt>
                <dd>
                    <span>{{client.nom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.client.prenom">Prenom</span></dt>
                <dd>
                    <span>{{client.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.client.password">Password</span></dt>
                <dd>
                    <span>{{client.password}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.client.commune">Commune</span></dt>
                <dd>
                    <span *ngFor="let commune of client.communes; let last = last">
                        <a [routerLink]="['/commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
